.orders-page {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.order-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ddd;
  margin-bottom: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.order-card:hover {
  transform: scale(1.02);
}

.order-card p {
  margin: 4px 0;
}
